.genericField {
  border: 0;
  border-radius: 0;
  margin: 0px;
  background-color: inherit;
  position: relative;
  flex: 2;
}

.genericInput {
  width: 100%;
  color: black;
  font-size: 1.0rem;
  border-bottom: 2px solid grey;
  margin-bottom: 15px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.genericInput-showButton {
  width: 20px;
  height: 18px;
  margin-right: 1px;
}

.genericInput-error {
  border-color: red;
}

.genericInput-focus {
  border-color: black;
}
