.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  width: 100%;
  justify-content: center;
}

.formContainer > button {
  width: 80%;
}

.formContainer > input {
  margin-bottom: 20px;
}
